# Practice Exercises: Basic pandas

These exercises were generated by ChatGPT using our course notebooks as input. They were briefly reviewed to make sure that they are correct and fit within the topics and level of the course, but they aren't necessarily a comprehensive set of examples around the course topics.

Complete the following exercises using **pandas**.

Topics:
- creating DataFrames
- selecting columns
- boolean Series to select rows

Write your code in the cell under each question.

Run the import cell first.

In [ ]:
import pandas as pd

## 1) Create a DataFrame from a dictionary
Create a DataFrame called `cities` from this dictionary:

```python
data = {
    "city": ["Toronto", "Ottawa", "Hamilton", "London"],
    "population": [2790000, 1017000, 569000, 423000],
    "province": ["ON", "ON", "ON", "ON"]
}
```
Then display the DataFrame.

In [ ]:
# your code here

## 2) Create a DataFrame from a list of dictionaries
Create a DataFrame called `trips` from:

```python
rows = [
    {"mode": "car", "minutes": 35},
    {"mode": "transit", "minutes": 55},
    {"mode": "walk", "minutes": 15},
    {"mode": "bike", "minutes": 22},
]
```
Then show the first 2 rows.

In [ ]:
# your code here

## 3) Select one column and compute a statistic
Using the `cities` DataFrame from #1:
- Select the `population` column.
- Compute and print its **mean** and **max**.

In [ ]:
# your code here

## 4) Select multiple columns (sub-DataFrame)
Using `cities`, create a new DataFrame called `city_sizes` containing only:
- `city`
- `population`

Print `city_sizes`.

In [ ]:
# your code here

## 5) Boolean filtering: one condition
Using `cities`, create a DataFrame `big_cities` containing only rows where `population` is **greater than 500000**.
Print `big_cities`.

In [ ]:
# your code here

## 6) Boolean filtering: two conditions with `&`
Create this DataFrame and call it `housing`:

```python
data = {
    "neighbourhood": ["Annex", "Scarborough", "North York", "Downtown", "Etobicoke"],
    "median_rent": [2400, 2000, 2100, 2700, 2200],
    "subway_access": [True, False, True, True, False]
}
```

Filter for rows where:
- `median_rent` is **at least 2200**
**and**
- `subway_access` is `True`

Store the result in `expensive_and_connected`.

In [ ]:
# your code here

## 7) Boolean filtering: OR with `|`
Using `housing`, filter for rows where:
- `median_rent` is **less than 2100**
**or**
- `subway_access` is `False`

Store the result in `more_affordable_or_not_connected`.

In [ ]:
# your code here

## 8) Add a new column using a boolean condition
Using `housing`, add a new column called `high_rent` that is `True` when `median_rent` is **greater than 2300**, otherwise `False`.
Then print the DataFrame.

In [ ]:
# your code here

## 9) Rename columns using a dictionary
Create this DataFrame:

```python
data = {
    "CITY": ["Toronto", "Ottawa", "Hamilton"],
    "POP": [2790000, 1017000, 569000],
    "PROV": ["ON", "ON", "ON"]
}
```
Call it `cities_raw`.

Rename the columns so that:
- `CITY` → `city`
- `POP` → `population`
- `PROV` → `province`

Store the result in a new DataFrame called `cities`.

In [ ]:
# your code here

## 10) Create a new column using arithmetic
Using the `cities` DataFrame from Question 9:

Create a new column called `population_millions` that contains the population divided by **1,000,000**.

Print the updated DataFrame.

In [ ]:
# your code here

## 11) Create a new column using a boolean condition
Using the `housing` DataFrame from Question 10:

Create a new column called `high_rent` that is:
- `True` if `median_rent` is **greater than or equal to 2500**
- `False` otherwise

Print the updated DataFrame.

In [ ]:
# your code here